/* All devices and Mobile */

.navbar-container {
  z-index: 1;
  position: fixed;
}

.sm-nav-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background: rgba(46, 56, 73, 0.95);
  /* background: #2e3849; */
  /* background: #bfa09a; */
  min-width: 100vw;
  box-shadow: 0px 2px 2px rgba(46, 56, 73, 0.5);
}

.sm-nav-title {
  font-size: 1.4em;
  color: #dbe1eb;
}

.menu-icon {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.nav-links-container {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  background: rgba(46, 56, 73, 0.95);
  max-width: 55vw;
  min-height: 100vh;
}

/* The following 4 selectors handle the menu animation */
.nav-links-container-enter {
  opacity: 0.01;
  transform: translateX(-50%)
}

.nav-links-container-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 100ms ease-out;
}

.nav-links-container-exit {
  opacity: 1;
  transform: translateX(0%);
}

.nav-links-container-exit-active {
  opacity: 0.01;
  transform: translateX(-50%);
  transition: all 100ms ease-out;
}
/* end */

.nav-link {
  font-family: 'Lato', sans-serif;
  color: #dbe1eb;
  text-decoration: none;
  font-size: 1.2em;
  padding-top: 25px;
}

.nav-link.active {
  border-bottom: 1px solid #e1ca96;
  color: #e1ca96;
}

/* iPad/Tablet */


/* Destop */
@media (min-width: 801px) {

}
